@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@font-face {
  font-family: "Heming";
  src: url(../fonts/heming.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heming", sans-serif;
  color: whitesmoke;
  /* outline: red dashed 1px; */
}

body {
  width: 100vw;
  height: 100vh;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0%;
  width: 30%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: -1;
  /* transition: transform 0.5s cubic-bezier(0, 0, 0.1, 1); */
  opacity: 0;
  transition: opacity 0.75s;
}

html {
  background: url(../images/home-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  font-family: "Heming", sans-serif;
}

ul {
  width: fit-content;
}

li {
  font-size: 32px;
  list-style: none;
  margin-bottom: 2rem;
  opacity: 55%;
  transition: all 0.5s;
  width: fit-content;
  transition: transform 1s cubic-bezier(0, 0, 0.05, 1);
  transform: translateX(-400%);
  /* transition: letter-spacing 0.5s; */
  /* letter-spacing: 0.005px; */
}

.menu-item {
  font-family: "Heming", sans-serif;
  /* transition: all 0.5s; */
  transition: all 1s cubic-bezier(0, 0, 0.05, 1);
}

li:hover {
  opacity: 100%;
  letter-spacing: 2px;
}

#hamburger-menu {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  z-index: 3;
  opacity: 65%;
  transition: all 0.75s;
}

.navigation-menu {
  margin: 0 0 0 2rem;
  margin: 2.75rem 0 0 2rem;
  height: fit-content;
}

.floating-element {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 24px;
  transition: all 1s ease-in-out;
}

.bounding-element {
  position: fixed;
  /* position: relative; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: red; */
  z-index: -2;
}

.centered-element {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: blue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: scale(0);
}

div.first-floating {
  background-color: #ffffff;
  width: 400px;
  /* height: 400px; */
  height: fit-content;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  /* mix-blend-mode: difference; */
}

.first-floating h2,
.first-floating p {
  color: black;
  padding: 9px 18px;
}

.first-floating h2 {
  font-size: 32px;
  padding-top: 16px;
}

.first-floating p {
  font-family: "Monserrat", sans-serif;
  font-size: 19px;
  padding-bottom: 16px;
}

div.second-floating {
  background-color: #ffffff;
  width: 300px;

  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  /* mix-blend-mode: difference; */
}

.second-floating h2,
.second-floating p {
  color: black;
  padding: 9px 18px;
}

.second-floating h2 {
  font-size: 32px;
  padding-top: 16px;
}

.second-floating p {
  font-family: "Monserrat", sans-serif;
  font-size: 19px;
  padding-bottom: 16px;
}
